body {
    font-family: Arial, sans-serif;
    background-color: #f2eeee;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #060606;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  